body {
  margin: 0;
  font-family: Arial, sans-serif;
}



.footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 15px;
}
.whatsapp-float {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: #25D366;
  color: white;
  font-size: 32px;
  padding: 14px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 0 5px 12px rgba(0,0,0,0.25);
  z-index: 1000;
  transition: all 0.3s ease;
}

.whatsapp-float:hover {
  transform: scale(1.1);
}